<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>欢迎来到去哪了网，您当前使用的是EJS模版引擎。如需使用jade模版请在app.js中自行修改extension的值为jade</p>
  </body>
</html>
